*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.btn {
  display: none;
  border: 0;
  padding: 0 12px;
  background: transparent;
}
.btn span {
  font-size: 40px;
}

.close {
  display: none;
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
  border-bottom: 1px solid #f1f1f1;
}
.header-wrap .logo {
  position: absolute;
  left: 0;
}
.header-wrap .nav-list {
  display: flex;
  gap: 40px;
}
.header-wrap .nav-list li {
  position: relative;
  padding: 4px 8px;
}
.header-wrap .nav-list li a {
  text-decoration: none;
  color: #000;
}
.header-wrap .nav-list li a:hover {
  font-weight: 600;
  transition: font-weight 0.5s ease;
}
.header-wrap .nav-list li .corner {
  position: absolute;
  width: 8px;
  height: 8px;
}
.header-wrap .nav-list li .top-left {
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-wrap .nav-list li .top-right {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.header-wrap .nav-list li .bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-wrap .nav-list li .bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.banner {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner blockquote {
  position: relative;
  max-width: 670px;
  padding: 59px 71px;
  margin-top: 80px;
}
.banner blockquote h2,
.banner blockquote p {
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
}
.banner blockquote h2 {
  margin-bottom: 16px;
}
.banner blockquote .quote-left {
  position: absolute;
  top: 0;
  left: 0;
}
.banner blockquote .quote-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.banner blockquote span {
  position: relative;
  z-index: 1;
  text-wrap: nowrap;
}
.banner blockquote span img {
  position: absolute;
  right: -16px;
  bottom: 0;
  z-index: -1;
}
.banner .introduce {
  display: flex;
  width: 100%;
  max-width: 636px;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 80px;
  padding: 0 70px;
}
.banner .introduce .introduce-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #5b5b5b;
}
.banner .introduce .introduce-wrap hr {
  width: 24px;
  border: 2px solid #c1c1c1;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}
.card .card-item {
  width: 50%;
  margin-bottom: 80px;
}
.card .card-item:nth-child(odd) {
  padding-right: 12px;
}
.card .card-item:nth-child(even) {
  padding-left: 12px;
}
.card .card-item img {
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}
.card .card-item .info {
  padding-left: 16px;
}
.card .card-item h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
}
.card .card-item p {
  font-size: 16px;
  font-weight: 400;
  color: #919191;
}
.card .card-item .tags {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
.card .card-item .tags li {
  background: #f1f1f1;
  padding: 4px 12px;
  border-radius: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 72px;
  margin-bottom: 120px;
}
.pagination li:nth-child(1) a {
  color: #fff;
  background: #1e1e1e;
}
.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  color: #3b3b3b;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
}
.pagination a:hover {
  color: #fff;
  background: #1e1e1e;
}

footer {
  padding: 80px 12px;
  background-size: cover;
  background-image: url("./image/footer-bg-lg.png");
}
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrap .info p {
  margin: 24px 0;
  font-size: 24px;
  color: #3b3b3b;
}
footer .footer-wrap .info a {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #919191;
}
footer .footer-wrap .links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-wrap .links a {
  width: 306px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #3b3b3b;
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
}
footer .footer-wrap .links a:nth-child(1) {
  color: #fff;
  background: #000;
}
footer .footer-wrap .links a img {
  margin-left: 24px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .btn {
    display: block;
  }

  header .header-wrap {
    padding: 8px 0;
    justify-content: flex-end;
  }
  header .header-wrap .logo img {
    width: 74px;
    margin-left: 12px;
  }
  header .header-wrap .nav-list {
    display: none;
  }

  .banner blockquote {
    margin-top: 40px;
    padding: 59px 37.5px;
  }
  .banner blockquote h2, .banner blockquote p {
    text-align: center;
    font-size: 20px;
  }
  .banner blockquote .quote-left {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner blockquote .quote-right {
    display: none;
  }

  .card .card-item {
    width: 100%;
    padding: 0 12px;
  }
  .card .card-item img {
    width: 100%;
  }

  .introduce {
    flex-direction: column;
  }

  footer {
    background-image: url("./image/footer-bg-sm.png");
  }
  footer .footer-wrap {
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }
}